.body{
    margin: 0px;
    padding-top: 0px;
    background-size: cover;
}
.tag_line{
    height:32em;
    background-image:url('pic1.jpg');
    opacity: 0.9;
}
.head1{
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    padding-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: monospace;

}
.btn_1{
    margin-left: 45%;
    font-size: 15px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    margin-top: 3%;
    border-radius: 7px;
    opacity: 0.8;
    cursor: pointer;
    border-color: white;

}
.sec_2{
    height:39em;
    background-color: whitesmoke;
}
.head2{
    margin-top: 0;
    text-align: center;
    padding-top: 50px;
    font-family: monospace;
    font-size: 30px;
    opacity: 0.8;
    line-height: 0.5em;
}
#line1{
    margin-left: 35%;
    margin-right: 35%;
    opacity: 0.8;
}
.temp{
    margin-top: 5%;
    width: 25%;
    height:34em ;
    background-color:whitesmoke;
    margin-left: 7%;
    float: left;
    font-family: monospace;
 }
 .image{
     height: 60%;
     width: 100%;
 }
 .head3{
     opacity: 0.8;
 }
.para{
     opacity:0.8;
 }
 .sec3{
     height: 20em;
     background-color: aquamarine;
     background-image: url(pic6.jpg);
 }
.sec4{
    height: 58em;
    background-color: whitesmoke;
}
.sec5{
    height:25em ;
    background-color: white;
}
.sec6{
    height: 350px;
    background-color: rgba(0, 0, 0, 0.685);
}
.head4{
    margin-top: 0;
    text-align: center;
    padding-top:30px ;
    font-family: monospace;
    font-size:33px ;
    color: whitesmoke;
    opacity: 0.9;
    line-height: 0.5em;
}
.line3{
    margin-left: 39%;
    margin-right: 39%;
}
.para2{
    text-align: center;
    padding-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 21px;
    color: whitesmoke;
    opacity: 0.8;
    font-family: monospace;
}
.head5{
    font-size: 25px;
    color: whitesmoke;
    font-family: monospace;
    text-align: center;
    margin-top: 0;
    padding-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
}
.head6{
    margin-top: 0;
    text-align: center;
    padding-top:50px ;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.884);
    font-family: monospace;
    line-height: 0.5em;
    opacity: 0.9;
}
.line4{
    margin-left: 37%;
    margin-right: 37%;
}
.temp2{
    width: 320px ;
    height: 300px;
    margin-top: 3%;
    margin-left: 8%;
    background-color: whitesmoke;
    float: left;
}
.books_img{
    height: 80%;
    width: 100%;
}
.book_para{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    opacity: 0.9;
}
.btn_3{
    margin-left: 45%;
    margin-top: 3%;
    padding: 8px 25px;
    border-radius:10px ;
    font-size: 18px;
    background-color: rgb(128, 229, 236);
    color:white;
    border: none;
    outline: rgb(128, 229, 236);
    cursor: pointer;
}
.head7{
    margin-top: 0;
    text-align: center;
    padding-top:20px ;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.884);
    font-family: monospace;
    line-height: 0.5em;
    opacity: 0.9;
}
.line5{
    margin-left: 40%;
    margin-right: 40%;
}
.logos{
    width: 18em;
    height: 15em;
    margin-left: 10%;
}
.logo_div{
    margin-top: 5%;
}
.foot{
    float: right;
    opacity: 0.7;
}